[Unit]
Description=Gunicorn instance to serve HRIS Website
After=network.target

[Service]
# Ganti 'akhdann' dengan username Linux Anda
User=akhdann
Group=www-data
WorkingDirectory=/home/akhdnn/Documents/codingan_akhdan/hris-website
Environment="PATH=/home/akhdnn/Documents/codingan_akhdan/hris-website/venv/bin"
ExecStart=/home/akhdnn/Documents/codingan_akhdan/hris-website/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 backend.app:app

[Install]
WantedBy=multi-user.target
